# ======================================================
# Python
# ======================================================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# ======================================================
# Banco / Credenciais
# ======================================================

.env
config.ini

# ======================================================
# Dados grandes (opcional)
# ======================================================

# Ignorar CSVs gerados automaticamente
data/*.csv

# MAS manter um sample pequeno se quiser subir
!data/sample_marketplace.csv

# ======================================================
# Sistema
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/